body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.Logo {
  background-image: url('./logo.svg');
  background-size: cover;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 50px;
}
.Excel{
  width: 40vw;
  height: auto;
  margin: 0 auto;
}
.Excel th, td {
  border: 1px solid black;
}
.Excel table{
  border: 1px solid black;
  width: 100%;
  height: auto;
  margin-left:0px;
  margin-right: 0px;
} 
.Excel #topThreeButtons{
  padding-bottom:40px;
  margin-left:-120px;
}
.Excel #searchButton{
  margin-left: 10vw;
  margin-top:5vw;
}
.Excel #exportButton{
  margin-left:1vw;
  margin-right:1vw;
}

.Button{
  background-color: red;
  border-radius:28px;
  border:0;
  box-shadow: 0px 1px 1px #d9d9d9;
  color:#fff;
  cursor:pointer;
  display:inline-block;
  font-size:18px;
  font-weight: bold;
  padding:5px 15px;
  text-decoration:none;
  transition-duration:0.1s;
  transition-property:transform;
}

.Suggest {
  padding-bottom:200px;
}